[2019-12-05 13:03] yegor256 opened #1 "skeleton"

[2019-12-13 19:16] #1 closed

[2019-12-13 19:17] yegor256 commented on #1
@rultor release, tag is `0.1.0`

[2019-12-13 19:19] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21047-565572602)

[2019-12-13 19:32] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21047-565572602) (took me 12min)

[2019-12-13 19:38] yegor256 commented on #1
@Sammers21 the version `0.1.0` is in Maven Central

[2020-01-16 02:30] dingdaoyi opened #8 "Files.createTempFile (attachment, ".tgz")"
xnpm-files problem

  1    `` `javapath = Files.createTempFile (attachment, ".tgz");`` `

 creation error with attachment with folder

 2.Npm preferably return  Single with attachments.keySet ().

[2020-01-16 03:27] yegor256 commented on #8
@dingdaoyi can you please explain what exactly you are doing? Can you show more code. At the moment I don't understand the question. What is wrong?

[2020-01-16 03:38] dingdaoyi commented on #8
1、 E.g：
final Path path = Files.createTempFile("aaa/bbb.tgz", ".tgz");
exception： java.lang.IllegalArgumentException: Invalid prefix or suffix
2、
Need to upload the taz package on s3. If the file name is not returned, I need to read the temporary file to resolve the name myself.

[2020-01-16 03:43] yegor256 commented on #8
@dingdaoyi this code throws exception?

[code]

Are you sure? Can you please post the exception stacktrace?

[2020-01-16 03:45] dingdaoyi commented on #8
@yegor256 Exception in thread "main" java.lang.IllegalArgumentException: Invalid prefix or suffix
	at java.nio.file.TempFileHelper.generatePath(TempFileHelper.java:63)
	at java.nio.file.TempFileHelper.create(TempFileHelper.java:127)
	at java.nio.file.TempFileHelper.createTempFile(TempFileHelper.java:161)
	at java.nio.file.Files.createTempFile(Files.java:897)
	at com.yegor256.npm.Meta.main(Meta.jav

[2020-01-16 03:46] yegor256 commented on #8
@dingdaoyi there is no such method as `Meta.main` in this library. Please, show your code now. How do you use this library?

[2020-01-16 03:52] yegor256 commented on #8
@Sammers21 can you please help?

[2020-01-16 03:52] dingdaoyi commented on #8
https://github.com/artipie/npm-adapter/blob/master/src/main/java/com/artipie/npm/Npm.java
 private Completable updateSourceArchives(
        final String prefix,
        final JsonObject uploaded
    ) {
        return Single.fromCallable(() -> uploaded.getJsonObject("_attachments"))
            .flatMapCompletable(
                attachments ->
                    Completable.concat(attachments.

[2020-01-16 03:56] yegor256 commented on #8
@dingdaoyi can you show _your_ code, please? How do you use the library?

[2020-01-16 04:57] dingdaoyi commented on #8
@yegor256

npm.publish(fileInfo.getNodePath(),
            localCacheFile.substring(localCacheFile.lastIndexOf("/") + 1))
            .subscribe(() ->observer.accept(getUploadInfoModelList(fileInfo)));

package.json:
 "name": "@ avenueui / flint1",
The attached attachments.keyset () is
"@ avenueui / flint1-1.7.5.tgz" is a file with a parent directory
{
    "_id": "@ avenueui / flint1",
    "name":

[2020-01-16 11:24] Sammers21 commented on #8
@dingdaoyi, that is difficult to understand what you mean. Can you provide a reproducer in the form of a test for this project([example](https://github.com/artipie/npm-adapter/blob/master/src/test/java/com/artipie/npm/NpmCommandsTest.java#L57))? Another option is to create a repository on GitHub with Main class, so anyone could reproduce it.

[2020-01-16 11:49] dingdaoyi commented on #8
@Sammers21 @yegor256
The easiest way, you put the simple-npm-project / package.json
"name": "simple-npm-project"
Change to
 "name": "@ aabb / simple-npm-project"
https://github.com/artipie/npm-adapter/blob/master/src/test/resources/simple-npm-project/package.json

[2020-01-16 12:01] dingdaoyi commented on #8
java.lang.IllegalArgumentException: Invalid prefix or suffix
	at java.nio.file.TempFileHelper.generatePath(TempFileHelper.java:63)
	at java.nio.file.TempFileHelper.create(TempFileHelper.java:127)
	at java.nio.file.TempFileHelper.createTempFile(TempFileHelper.java:161)
	at java.nio.file.Files.createTempFile(Files.java:897)
	at com.artipie.npm.Npm.lambda$null$5(Npm.java:107)
	at java.util.stream.Ref

[2020-01-16 15:50] Sammers21 commented on #8
@dingdaoyi, ah, I got it. I will create a Pull Request to fix that.

[2020-01-17 04:53] dingdaoyi opened #10 "missing all.json and meta data for each version"
eg:  Jfrog Artifactory structure
.npm/
-@avenueui/
--flint/
---@avenueui/
       **--- flint-0.0.1-snapshot1.0.json**
       --- flint-0.0.2-snapshot1.0.json
      --package.json
 **- all.josn**

[2020-01-20 10:06] Sammers21 commented on #10
@dingdaoyi, do you think we should follow Jfrog Artifactory file structure?

[2020-01-20 13:12] #8 closed

[2020-01-21 02:33] dingdaoyi commented on #10
Does not affect business can be generated without，if there is a need, I will do it myself

[2020-01-21 02:33] #10 closed

[2020-01-21 06:49] dingdaoyi opened #13 "npm ERR! notarget No matching version found for *@latest."
The meta.json generated by the artipie / npm-adapter code is missing some necessary fields,
 use npm client exec the command “npm install @ avnewu / emo ”.
[code]
I tink that we can add useful fields that can be obtained at com.artipie.npm.NpmPublishJsonToMetaBind # bind, including dist-tag, repository, lincense, author

[2020-01-21 08:33] Sammers21 commented on #10
@dingdaoyi, following Jfrog file structure, is not required to implement npm registry.

[2020-01-22 09:34] Sammers21 opened #14 "Migrate to asto 0.11"
In order to keep the repository consistent with latest asto changes, we should migrate to the latest version.

[2020-01-31 12:26] #14 closed

[2020-01-31 13:04] 0crat commented on #14
Job `gh:artipie/npm-adapter#14` is not assigned, can't get performer

[2020-01-31 13:18] 0crat commented on #14
This job is not in scope

[2020-01-31 13:45] Sammers21 commented on #13
@dingdaoyi , please provide more details. what is `@avnewu / em`?

[2020-02-12 09:14] dingdaoyi commented on #13
@Sammers21 Dear, npm install does not specify the version, it will download the best version saved in dist-tag in package.json, @avnewu / em is just a project

[2020-02-19 09:29] y00437830 opened #17 "miss some necessary information for latest version"
It would cause download failure when the user does not have an explicit version. (latest version is the default version)
For example, npm install @avenueui/harano6@1.0.0 is OK, however, npm install @avenueui/harano6 will be failed.
The package.json file generated By artipie/npm-adapter.

![1](https://user-images.githubusercontent.com/34901207/74820680-66bd1680-533d-11ea-9844-fd3cacb61252.png)
![2]

[2020-02-19 09:29] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-19 09:29] 0crat commented on #17
@y00437830[/z](https://www.0crat.com/u/y00437830) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-19 09:31] y00437830 opened #18 "Need intercept the address"
If we don’t intercept the address, it would cause download failure when we use a remote repository or virtual repository. Since the npm client would use the native address instead of the proxy address.
Please cut the address prefix, the npm client would assemble the proxy address prefix automatically.
The package.json file generated by artipie/npm-adapter.

![3](https://user-images.githubuserconte

[2020-02-19 09:32] 0crat commented on #18
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-19 09:32] 0crat commented on #18
@y00437830[/z](https://www.0crat.com/u/y00437830) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-19 10:04] 0crat commented on #18
Thanks for your contribution, @y00437830[/z](https://www.0crat.com/u/y00437830)! If you would be a member of [the project](https://www.0crat.com/p/CT2E6TK9B), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2020-02-19 10:30] 0crat commented on #17
The job [#17](https://github.com/artipie/npm-adapter/issues/17) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/76e42c26-7353-4eea-9336-d7dcabab64df); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-02-19 10:44] 0crat commented on #17
Thanks for your contribution, @y00437830[/z](https://www.0crat.com/u/y00437830)! If you would be a member of [the project](https://www.0crat.com/p/CT2E6TK9B), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2020-02-19 10:53] 0crat commented on #18
The job [#18](https://github.com/artipie/npm-adapter/issues/18) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/37257c04-85f8-4b7b-892d-c803d9cf263d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-02-19 11:36] 0crat commented on #17
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-19 11:46] 0crat commented on #18
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 09:17] 0crat commented on #18
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-25 11:26] 0crat commented on #17
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-25 12:07] g4s8 opened #20 "Update to latest parent and asto"
Update to the latest parent pom `0.3` and asto `0.14`, downgrade to JDK8.

[2020-02-25 13:29] 0crat commented on #20
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 13:37] 0crat commented on #20
The job [#20](https://github.com/artipie/npm-adapter/issues/20) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e3e9f6c9-dad3-478d-99c0-109b1fd572f1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-02-25 13:51] 0crat commented on #20
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-27 06:59] #17 closed

[2020-02-27 07:01] g4s8 commented on #17
@rultor release, tag=`0.3`

[2020-02-27 07:04] rultor commented on #17
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21440-591815382)

[2020-02-27 07:11] rultor commented on #17
@g4s8 @y00437830 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21440-591815382) (spent 7min)

[code]

[2020-02-27 08:43] 0crat commented on #17
Order was finished: +30 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-27 11:46] #20 closed

[2020-02-27 12:09] 0crat commented on #20
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-27 12:16] 0crat commented on #20
Order was finished: +35 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-27 12:27] #18 closed

[2020-02-27 12:27] g4s8 commented on #18
@rultor release, tag=`0.3`

[2020-02-27 12:29] rultor commented on #18
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21442-591945156)

[2020-02-27 12:39] rultor commented on #18
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21442-591945156) (took me 10min)

[2020-02-27 12:52] Sammers21 commented on #13
i guess this issue were closed int #19

[2020-02-27 13:15] 0crat commented on #18
Order was finished: +30 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-28 05:59] #13 closed

[2020-02-28 06:16] y00437830 opened #23 "attachment (packageName prefix) error"
When attachment contains a multi-level directory, like
`@demo1/aabcc-2.0.0.tgz`, `Key.string` is called in
`storage.save()`, and the method part does not allow "/".
I remembered the `@scope` cause another issue in the last month.
So please test our project by `@scope/name.tgz` type in the future.

Sorry, I cannot show the detail picture in gitlab, since the Huawei network security proxy
I will con

[2020-02-28 06:16] 0crat commented on #23
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-28 06:16] 0crat commented on #23
@y00437830[/z](https://www.0crat.com/u/y00437830) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-28 06:48] 0crat commented on #13
Job `gh:artipie/npm-adapter#13` is not assigned, can't get performer

[2020-02-28 06:55] 0crat commented on #13
This job is not in scope

[2020-02-28 06:58] g4s8 commented on #23
@0crat assign @Sammers21

[2020-02-28 07:19] 0crat commented on #23
@g4s8 Thanks for your contribution, @y00437830[/z](https://www.0crat.com/u/y00437830)! If you would be a member of [the project](https://www.0crat.com/p/CT2E6TK9B), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2020-02-28 07:20] 0crat commented on #23
@g4s8 The job [#23](https://github.com/artipie/npm-adapter/issues/23) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fff94fce-6d3b-4b06-8b05-3c2dc8958c05); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-02-28 07:53] 0crat commented on #23
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-02 08:52] Sammers21 opened #26 "Migrate to java 8 byte-code"
Current target is java 9.

[2020-03-02 11:28] #26 closed

[2020-03-03 08:06] y00437830 opened #27 "Support for Metadata update from source archive"
In addition to interacting with the NPM client, the artifactory repo also support upload NPM .tgz file manually by upload request.
It mean that all the information we can give you is the  .tgz filestream. If you Unzip the .tgz file， you could get the project package.json
Then, you could get the metadata information from the package.json.
I give the detail describtion by email

[2020-03-03 08:06] 0crat commented on #27
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-03 08:06] 0crat commented on #27
@y00437830[/z](https://www.0crat.com/u/y00437830) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 09:15] Sammers21 commented on #27
@y00437830 is referring to a feture, alredy implemented in Artifactory: `'Deploying with cURL'` at https://www.jfrog.com/confluence/display/BT/npm+Repositories

[2020-03-03 09:17] Sammers21 commented on #27
Hey @g4s8 , @y00437830  wants this feature to be high priority.

[2020-03-03 09:24] Sammers21 commented on #27
@g4s8, rename the issue to 'Support for Metadata update from source archive'

[2020-03-03 09:25] 0crat commented on #27
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.7](https://github.com/zerocracy/farm): CID: [56f73868-1879-4ed5-8c29-48d8d4f77c9a](https://www.0crat.com/footprint/CT2E6TK9B/56f73868-1879-4ed5-8c29-48d8d4f77c9a), Type: "Job milestoned"

[2020-03-03 09:40] 0crat commented on #27
The job [#27](https://github.com/artipie/npm-adapter/issues/27) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d06fbe34-b415-48dc-94bf-e8bc7d77f943); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-03-03 09:40] 0crat commented on #27
Thanks for your contribution, @y00437830[/z](https://www.0crat.com/u/y00437830)! If you would be a member of [the project](https://www.0crat.com/p/CT2E6TK9B), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2020-03-03 10:01] 0crat commented on #27
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-03 12:07] g4s8 commented on #23
@Sammers21 did you managed to solve this issue?

[2020-03-03 12:21] Sammers21 commented on #23
@g4s8 , no. @y00437830 , issue description is not clear. I can't understand what is meant.

[2020-03-03 12:25] Sammers21 commented on #27
@g4s8 , @y00437830 , we are not the Artifactory development office and this feature is absolutely not-mandatory for the module, that is why the priority for the issues should be the lowest possible.

[2020-03-03 12:45] y00437830 commented on #27
@Sammers21 ,
but We are Huawei employees, we are mainly responsible for the company's business success.  And this situation is the first situation we meet in the company project。 so,  Try our best.

[2020-03-03 13:31] Sammers21 commented on #27
@y00437830, yes, this is very important. We are planning to implement this feature but on the HTTP layer. Can this feature be implemented on your project-level just for now?

[2020-03-04 03:15] y00437830 commented on #27
No problem,   if you can not give an enhancement version today or tomorrow.

We are planning to deploy it in this weekend. So, we can wait for two days.
if the enhancement is not ok.  We will start implementing it on our project-level on Friday.  Since we don't need to think globally for all languages like Adapter & Asto.  so,  the temporary code is not too late for us to start on Friday.
So, don'

[2020-03-04 07:46] y00437830 commented on #18
not cloase

[2020-03-04 07:46] y00437830 commented on #18
not close, look at my email

[2020-03-04 08:05] y00437830 opened #28 "4 situation for intercep the address ?"
There is a problem in tarball interception.
Now, the adapter logic is
Input http://localhost:8080/artifactory/api/npm/npm-test-local-1/@scope/yuanye05/-/@scope/yuanye05-1.0.3.tgz
Use the pattern to matcher and cut the prefix to fixed the issue https://github.com/artipie/npm-adapter/issues/18

However, it Overcorrect.
     We have three situations:
(1)	http://localhost:8080/artifactory/api/npm/npm-

[2020-03-04 08:05] 0crat commented on #28
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-04 08:05] 0crat commented on #28
@y00437830[/z](https://www.0crat.com/u/y00437830) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-04 08:49] g4s8 commented on #28
@rultor release, tag=`0.3.3`

[2020-03-04 08:51] rultor commented on #28
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21461-594397455)

[2020-03-04 08:52] rultor commented on #28
@g4s8 @y00437830 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21461-594397455) (spent 22s)

[code]

[2020-03-04 09:01] Sammers21 commented on #27
@y00437830 , Yes, that is right. Implement it on your project yourself

[2020-03-04 09:14] 0crat commented on #28
Job `gh:artipie/npm-adapter#28` is not assigned, can't get performer

[2020-03-04 09:15] 0crat commented on #28
This job is not in scope

[2020-03-04 09:56] g4s8 commented on #28
@rultor release, tag=`0.3.3`

[2020-03-04 09:57] rultor commented on #28
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21461-594427209)

[2020-03-04 10:14] rultor commented on #28
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21461-594427209) (took me 16min)

[2020-03-04 11:16] 0crat commented on #28
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.7](https://github.com/zerocracy/farm): CID: [09833fab-5489-4c64-aa2e-f52bf1d9691d](https://www.0crat.com/footprint/CT2E6TK9B/09833fab-5489-4c64-aa2e-f52bf1d9691d), Type: "Job milestoned"

[2020-03-05 05:39] dingdaoyi opened #30 "com.artipie.npm.TgzRelativePath#curlWithoutScope and curlWithScope regex error"
When uploading a file via crul, the url contains version information
you can change the following 2 unit test debugging
@Test
    public void curlWithScopeIdentifiedCorrectly() {
        MatcherAssert.assertThat(
            new TgzRelativePath("http://localhost:8080/artifactory/api/npm/npm-test-local-1/@scope/yuanye05/1.0.3/yuanye05-1.0.3.tgz").relative(),
            new IsEqual<>("@scope/yuanye

[2020-03-05 05:39] 0crat commented on #30
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-05 06:41] y00437830 commented on #28
Different from the first and second way， （3）（4）These two methods are provided for users to use flexibly.
At present, we see that some users will add version level directories.
like
(3)	http://localhost:8080/artifactory/api/npm/npm-test-local-1/@scope/yuanye05/1.0.3/XXX/yuanye05-1.0.3.tgz (curl with scope)
(4)	http://localhost:8080/artifactory/api/npm/npm-test-local-1/yuanye05/1.0.3/XXX/yuanye05-1.

[2020-03-05 08:06] 0crat commented on #28
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-05 08:12] g4s8 opened #31 "HTTP API for npm-adapter"
Let's add HTTP API as `Slice` implementation for npm adapter.

[2020-03-05 08:31] Sammers21 commented on #28
@y00437830 , can you refer to the artifactory documentation in the issues concerning prefixes?

[2020-03-05 15:31] 0crat commented on #31
The job [#31](https://github.com/artipie/npm-adapter/issues/31) assigned to @guseyn[/z](https://www.0crat.com/u/guseyn), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6dbe1697-6630-41a6-95dd-1ab60a7ec760); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-10 09:39] g4s8 commented on #27
@y00437830 @Sammers21 the problem seems to be solved, can we close this ticket?

[2020-03-12 04:30] 0crat commented on #31
@guseyn[/z](https://www.0crat.com/u/guseyn) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-12 11:54] Sammers21 commented on #30
@dingdaoyi , what do you mean?

[2020-03-12 11:54] Sammers21 commented on #30
@dingdaoyi , what is the issue?

[2020-03-15 03:38] 0crat commented on #27
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#27](https://github.com/artipie/npm-adapter/issues/27), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-15 15:39] 0crat commented on #27
The job [#27](https://github.com/artipie/npm-adapter/issues/27) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f2059492-0cc8-4243-be45-2ebf810e06d4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-03-15 21:14] 0crat commented on #31
The user @guseyn[/z](https://www.0crat.com/u/guseyn) resigned from [#31](https://github.com/artipie/npm-adapter/issues/31), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-19 08:40] 0crat commented on #31
The job [#31](https://github.com/artipie/npm-adapter/issues/31) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/68493acb-fb93-4a39-af0e-0ae5c02c9897); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-03-19 08:41] #31 closed

[2020-03-19 11:12] 0crat commented on #31
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-21 14:27] 0crat commented on #27
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-23 06:54] 0pdd opened #36 "Npm.java:119-124: Implement metadata update by using tgz..."
The puzzle `27-b5f30c4d` from #27 has to be resolved:

https://github.com/artipie/npm-adapter/blob/7b306cec039e450c8f0e55a6f571c4362b1e7f90/src/main/java/com/artipie/npm/Npm.java#L119-L124

The puzzle was created by paulodamaso on 17-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-03-23 06:54] 0pdd commented on #27
@y00437830 the puzzle [#36](https://github.com/artipie/npm-adapter/issues/36) is still not solved.

[2020-03-23 06:55] 0crat commented on #36
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-23 06:56] g4s8 commented on #31
@rultor release, tag=`0.4`

[2020-03-23 06:57] rultor commented on #31
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21577-602418742)

[2020-03-23 07:11] rultor commented on #31
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21577-602418742) (took me 12min)

[2020-03-24 17:13] paulodamaso commented on #27
@g4s8 Please close,https://github.com/artipie/npm-adapter/pull/35 has already been merged

[2020-03-25 09:38] y00437830 opened #37 "dist-tags bug"
However, yesterday and today, some high priority users feedback problems by using commander “npm publish –tag alpha”.
It is a small but deadly bug for the adpter. We need fixed it in today.

(1)	When user exec “npm publish”. The upload info example is:
"dist-tags": {
"latest": "1.0.0"
},
(2)	When user exec “npm publish –tag alpha” “npm publish –tag alpha ”
"dist-tags": {
"alpha": "1.0.1"
},

We ho

[2020-03-25 09:38] 0crat commented on #37
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-25 11:48] g4s8 commented on #37
@0crat assign @Sammers21

[2020-03-25 11:53] 0crat commented on #37
@g4s8 The job [#37](https://github.com/artipie/npm-adapter/issues/37) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f93b8458-f814-4a8d-a70f-9c41b0b96ffd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-03-25 15:54] g4s8 opened #39 "Unit test for dist-tags issue"
Add a unit test to cover #37 bug

[2020-03-25 15:54] #37 closed

[2020-03-25 15:54] g4s8 commented on #37
@rultor release, tag=`0.4.1`

[2020-03-25 15:56] rultor commented on #37
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21612-603921665)

[2020-03-25 16:20] rultor commented on #37
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21612-603921665) (took me 24min)

[2020-03-25 17:11] 0crat commented on #37
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-25 22:19] 0crat commented on #39
The job [#39](https://github.com/artipie/npm-adapter/issues/39) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/59daa2bf-e77b-4cc7-b0fc-4cee471f9ac9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-03-26 09:53] carlosmiranda commented on #39
@0crat refuse

[2020-03-26 10:12] 0crat commented on #39
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#39](https://github.com/artipie/npm-adapter/issues/39), please stop working. Reason for job resignation: Order was cancelled

[2020-03-26 10:14] 0crat commented on #39
@carlosmiranda Job refused in 11 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-26 11:11] paulodamaso commented on #39
@g4s8 please assign me

[2020-03-26 11:25] 0crat commented on #39
The job [#39](https://github.com/artipie/npm-adapter/issues/39) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6cb66efb-678e-4bfa-b8ae-3f2a12a0410e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-03-26 11:52] #27 closed

[2020-03-27 12:58] Sammers21 commented on #27
@paulodamaso , why do you ask to close if the issue is not resolved?

[2020-03-27 17:23] paulodamaso commented on #27
@Sammers21 We use PDD to propagate issue resolution, which means that means that may generate a thread of puzzles to be solved. I got paid by each issue I close, which is equivalent to 30 minutes of work. This issue is closed so I can receive my payment for the deliverable I've produced related to this, and I left a puzzle for us to continue to resolve the issue thread incrementally (generally in

[2020-03-31 11:48] 0crat commented on #39
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-03 17:12] paulodamaso commented on #39
@0crat wait for #40 merge

[2020-04-09 15:20] g4s8 opened #41 "Npm upload is not working"
`npm` CLI tool failed to upload a package to NPM repository. It's working for `file` storage and was working for NPM too previously.
Steps to reproduce:
 - create repository config. put it to relative `./repo` directory with `npm.yaml` name:
[code]
 - start Artipie Docker using
[code]
 - try to upload npm package by using `npm  --registry=http://localhost/npm/ publish`

It fails with 500 error wit

[2020-04-09 15:24] 0crat commented on #41
The job [#41](https://github.com/artipie/npm-adapter/issues/41) assigned to @guseyn[/z](https://www.0crat.com/u/guseyn), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6500daf0-1601-4218-ac7d-783b3eaae04f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-10 11:31] g4s8 opened #42 "No test upload slice"
Add a test to verify that `UploadSlice` is working correctly.

[2020-04-10 11:53] 0crat commented on #42
The job [#42](https://github.com/artipie/npm-adapter/issues/42) assigned to @guseyn[/z](https://www.0crat.com/u/guseyn), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b7d5e6ee-fbb9-4d25-a203-bcfbf6aac6fb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-10 16:47] paulodamaso commented on #39
@g4s8 merged, please close

[2020-04-13 11:32] g4s8 commented on #39
@paulodamaso thanks

[2020-04-13 11:32] #39 closed

[2020-04-13 12:06] 0crat commented on #39
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-13 12:09] sereshqua commented on #39
@0crat quality good

[2020-04-13 16:44] Guseyn opened #44 "Update http and asto deps"

[2020-04-13 16:44] 0crat commented on #44
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-14 15:45] 0crat commented on #41
@guseyn[/z](https://www.0crat.com/u/guseyn) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-15 13:08] 0crat commented on #42
@guseyn[/z](https://www.0crat.com/u/guseyn) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-16 15:41] #44 closed

[2020-04-16 15:58] 0crat commented on #44
Job `gh:artipie/npm-adapter#44` is not assigned, can't get performer

[2020-04-17 11:58] #42 closed

[2020-04-17 11:58] g4s8 commented on #42
@rultor release, tag=`0.5`

[2020-04-17 12:01] rultor commented on #42
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21803-615205148)

[2020-04-17 12:11] rultor commented on #42
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21803-615205148) (took me 8min)

[2020-04-17 12:16] 0crat commented on #42
Job [#42](https://github.com/artipie/npm-adapter/issues/42) is not in the agenda of @guseyn[/z](https://www.0crat.com/u/guseyn), can't set title

[2020-04-17 12:17] 0crat commented on #42
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @guseyn[/z](https://www.0crat.com/u/guseyn), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-17 12:17] 0crat commented on #42
Job [#42](https://github.com/artipie/npm-adapter/issues/42) is not in the agenda of @guseyn[/z](https://www.0crat.com/u/guseyn), can't set title

[2020-04-17 12:33] sereshqua commented on #42
@0crat quality good

[2020-04-17 13:18] olegmoz opened #46 "UploadSlice does not actually saves content to the storage"
Current `UploadSlice` implementation has 2 issues:
* It does not actually await for storage to complete save operation before sending OK response
* Data is not getting saved, because `Publisher` content is read twice

[2020-04-17 13:19] 0crat commented on #46
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-17 13:51] olegmoz opened #48 "UploadSlice does not publish"
UploadSlice does not await for 'npm.publish()' call to finish successfully before responding with OK.
In fact the call ends with exception wight now, which may be seen by replacing `thenRunAsync` with `thenCompose`:
[code]
with
[code]

[2020-04-17 13:51] 0crat commented on #48
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-19 16:29] 0crat commented on #41
The user @guseyn[/z](https://www.0crat.com/u/guseyn) resigned from [#41](https://github.com/artipie/npm-adapter/issues/41), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-20 10:44] #41 closed

[2020-04-20 10:44] #46 closed

[2020-04-20 10:45] g4s8 commented on #41
@rultor release, tag=`0.5.1`

[2020-04-22 15:53] g4s8 commented on #48
Fixed

[2020-04-22 15:53] #48 closed

[2020-04-22 15:58] g4s8 opened #49 "Install doesn't work"
`npm` CLI tool can publish packages to npm repository, but can't install it.

Steps to reproduce:
 1. Run Artipie server with npm repository enabled (I used `javas` name)
 2. Publish package to repository: go to any javascript package sources and run `npm --registry=http://localhost/javas/ publish`
 3. Try to install same package: `npm --registry=http://localhost/javas/ install <package-name>`

Re

[2020-04-23 12:06] IlyaMoskva opened #50 "Add authentication to npm adapter"
Add basic authentication to npm adapter and authorize users for upload and download.

[2020-04-23 12:06] 0crat commented on #50
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-23 14:05] 0crat commented on #50
The job [#50](https://github.com/artipie/npm-adapter/issues/50) assigned to @ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/373b7b79-4a3c-48b1-befe-307d6dabdb90); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-23 14:05] 0crat commented on #50
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.11](https://github.com/zerocracy/farm): CID: [373b7b79-4a3c-48b1-befe-307d6dabdb90](https://www.0crat.com/footprint/CT2E6TK9B/373b7b79-4a3c-48b1-befe-307d6dabdb90), Type: "Start order"

[2020-04-23 14:05] 0crat commented on #50
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.11](https://github.com/zerocracy/farm): CID: [7678749f-f89b-48d4-b40a-7f5064c65842](https://www.0crat.com/footprint/CT2E6TK9B/7678749f-f89b-48d4-b40a-7f5064c65842), Type: "Job was added to WBS"

[2020-04-23 14:06] 0crat commented on #50
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.11](https://github.com/zerocracy/farm): CID: [7678749f-f89b-48d4-b40a-7f5064c65842](https://www.0crat.com/footprint/CT2E6TK9B/7678749f-f89b-48d4-b40a-7f5064c65842), Type: "Job was added to WBS"

[2020-04-23 14:06] 0crat commented on #50
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.11](https://github.com/zerocracy/farm): CID: [7678749f-f89b-48d4-b40a-7f5064c65842](https://www.0crat.com/footprint/CT2E6TK9B/7678749f-f89b-48d4-b40a-7f5064c65842), Type: "Job was added to WBS"

[2020-04-23 14:25] 0crat commented on #50
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.11](https://github.com/zerocracy/farm): CID: [7678749f-f89b-48d4-b40a-7f5064c65842](https://www.0crat.com/footprint/CT2E6TK9B/7678749f-f89b-48d4-b40a-7f5064c65842), Type: "Job was added to WBS"

[2020-04-24 03:54] 0crat commented on #41
The job [#41](https://github.com/artipie/npm-adapter/issues/41) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fc60daff-3aae-45b8-801c-f9918fd04952); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-24 03:54] 0crat commented on #41
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 03:55] rultor commented on #41
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21869-616467538)

[2020-04-24 04:03] rultor commented on #41
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21869-616467538) (took me 8min)

[2020-04-24 15:02] g4s8 commented on #50
@0crat status

[2020-04-24 15:03] 0crat commented on #50
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#50](https://github.com/artipie/npm-adapter/issues/50) is [in scope](http://www.zerocracy.com/policy.html#14) for 1days
  * The role is `DEV`
  * The job is assigned to @ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva) for [1days](http://www.zerocracy.com/policy.html#8)
  *

[2020-04-26 00:27] 0crat commented on #41
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.12](https://github.com/zerocracy/farm): CID: [2132364b-7209-453e-8feb-8a434d7d3b14](https://www.0crat.com/footprint/CT2E6TK9B/2132364b-7209-453e-8feb-8a434d7d3b14), Type: "Order was canceled"

[2020-04-26 00:27] 0crat commented on #41
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#41](https://github.com/artipie/npm-adapter/issues/41), since the job is not in scope anymore

[2020-04-28 14:01] 0crat commented on #50
@ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-28 14:30] 0crat commented on #49
The job [#49](https://github.com/artipie/npm-adapter/issues/49) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0947052a-ee92-4aee-95c8-6151f1fd9829); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-04-30 09:42] brastak opened #208 "Add config example to readme file"

[2020-04-30 11:26] g4s8 opened #52 "Enable coverage reports"
Generate test coverage reports to upload to codecov, see https://github.com/artipie/npm-adapter/runs/632956472

[2020-04-30 18:46] 0crat commented on #52
The job [#52](https://github.com/artipie/npm-adapter/issues/52) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/346afc71-7403-492b-b4f7-a762da4275cb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-05-04 07:55] 0crat commented on #49
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-05 19:45] 0crat commented on #52
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-07 02:59] carlosmiranda commented on #52
@0crat refuse

[2020-05-07 03:52] 0crat commented on #52
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#52](https://github.com/artipie/npm-adapter/issues/52), please stop working. Reason for job resignation: Order was cancelled

[2020-05-07 04:52] 0crat commented on #52
The job [#52](https://github.com/artipie/npm-adapter/issues/52) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8de81453-ba40-451f-a997-8d2e087de51a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-05-07 07:27] g4s8 commented on #50
@IlyaMoskva PR was merged, thanks.

[2020-05-07 07:27] #50 closed

[2020-05-07 07:45] 0crat commented on #50
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ilyamoskva[/z](https://www.0crat.com/u/ilyamoskva), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-07 08:11] sereshqua commented on #50
@IlyaMoskva @g4s8

Problem reporter and problem solver should be two different persons

[2020-05-07 08:11] sereshqua commented on #50
@0crat quality acceptable

[2020-05-08 13:56] victornoel commented on #52
@0crat wait for artipie/ppom#20 to be merged

[2020-05-13 08:04] victornoel commented on #52
@0crat wait for artipie/ppom#21 to be merged

[2020-05-13 08:11] 0crat commented on #52
@victornoel Job [#52](https://github.com/artipie/npm-adapter/issues/52) is already on hold

[2020-05-13 13:32] 0pdd opened #54 "UploadSliceTest.java:63: Rewrite test method to be able..."
The puzzle `53-d5b414c9` from #53 has to be resolved:

https://github.com/artipie/npm-adapter/blob/04d802b0ceccefec5d29e3261ad1a997fe451562/src/test/java/com/artipie/npm/http/UploadSliceTest.java#L63-L63

The puzzle was created by brastak on 08-May-20.

Estimate: 45 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-05-13 13:33] 0crat commented on #54
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-14 13:46] olenagerasimova opened #58 "Incorrect copyright in license"
Please, check license, it's incorrect: Yegor instead of Artipie.

[2020-05-14 13:51] 0crat commented on #58
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-15 18:23] victornoel commented on #52
@0crat wait for #60 to be merged

[2020-05-15 18:24] 0crat commented on #52
@victornoel Job [#52](https://github.com/artipie/npm-adapter/issues/52) is already on hold

[2020-05-18 07:51] 0crat commented on #58
The job [#58](https://github.com/artipie/npm-adapter/issues/58) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ef6ed169-ded2-468f-887a-75db58c4c004); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-05-18 07:58] g4s8 opened #61 "ASTO version update"
Update asto dependency version to >= `0.20`

[2020-05-18 08:00] g4s8 opened #62 "Codecov reports"
Update parent pom to the latest available version and enable `jacoco` plugin to generate reports for codecov. Also, add the badge to readme file to see the coverage percentage. See RPM adapter for example: https://github.com/artipie/asto

[2020-05-18 08:01] 0crat commented on #61
The job [#61](https://github.com/artipie/npm-adapter/issues/61) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/991b9ccf-6196-4fd3-8f6d-afc458074a60); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-05-18 08:02] 0crat commented on #62
The job [#62](https://github.com/artipie/npm-adapter/issues/62) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/92441b27-fec6-4331-9de2-6b7f19ba83b2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-05-18 08:05] g4s8 commented on #62
@brastak sorry, it's a duplicate of #52

[2020-05-18 08:05] #62 closed

[2020-05-18 08:22] 0crat commented on #62
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-18 08:22] 0crat commented on #62
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @brastak[/z](https://www.0crat.com/u/brastak), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-18 08:25] sereshqua commented on #62
@0crat quality bad

[2020-05-18 08:31] 0crat commented on #62
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-05-18 11:56] 0pdd opened #63 "DownloadPackageSlice.java:50: handle https schema in the..."
The puzzle `49-ba9c0273` from #49 has to be resolved:

https://github.com/artipie/npm-adapter/blob/1ae2da329108909e89c7bb5e95238c9c0a1dc17d/src/main/java/com/artipie/npm/http/DownloadPackageSlice.java#L50-L50

The puzzle was created by brastak on 14-May-20.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-05-18 11:56] 0pdd commented on #49
@g4s8 the puzzle [#63](https://github.com/artipie/npm-adapter/issues/63) is still not solved.

[2020-05-18 11:56] 0crat commented on #63
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 12:02] 0crat commented on #63
The job [#63](https://github.com/artipie/npm-adapter/issues/63) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/52545eb3-c760-4ec7-9aec-6dc6f0e617a8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-05-19 18:11] victornoel opened #65 "The badges in the README still points to travis"
I think we moved to Github actions but the badges in the README still points to travis.

Also there are no badges for coverage

[2020-05-19 18:11] 0crat commented on #65
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-19 18:12] victornoel commented on #52
@g4s8 can you close this? The PR was merged and everything seems to work: https://codecov.io/gh/artipie/npm-adapter/branch/master

[2020-05-19 18:33] victornoel commented on #58
@0crat wait for #66 to be merged

[2020-05-20 17:28] victornoel commented on #58
@olenagerasimova it's done in #66, can you close this issue? :)

[2020-05-21 04:49] olenagerasimova commented on #58
@victornoel sure, thanks)

[2020-05-21 04:49] #58 closed

[2020-05-21 05:07] 0crat commented on #58
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-21 05:13] sereshqua commented on #58
@0crat quality good

[2020-05-21 11:36] victornoel commented on #52
@g4s8 can you close this?

[2020-05-22 08:09] 0pdd opened #67 "NpmCommandsTest.java:82-84: remove the loop with..."
The puzzle `64-0c89f1b5` from #64 has to be resolved:

https://github.com/artipie/npm-adapter/blob/430067da28fa7990de823767a6f4a88dccae5d97/src/test/java/com/artipie/npm/NpmCommandsTest.java#L82-L84

The puzzle was created by brastak on 21-May-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-05-22 08:09] 0pdd opened #68 "NpmCommandsTest.java:178-181: transform method into..."
The puzzle `64-5e3ded21` from #64 has to be resolved:

https://github.com/artipie/npm-adapter/blob/430067da28fa7990de823767a6f4a88dccae5d97/src/test/java/com/artipie/npm/NpmCommandsTest.java#L178-L181

The puzzle was created by brastak on 21-May-20.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-05-22 08:10] 0crat commented on #68
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 08:10] 0crat commented on #67
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 08:45] g4s8 commented on #49
@rultor release, tag=`0.6`

[2020-05-22 08:46] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22140-632576476)

[2020-05-22 08:47] rultor commented on #49
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22140-632576476) (spent 17s)

[code]

[2020-05-22 09:11] g4s8 commented on #49
@rultor release, tag=`0.6`

[2020-05-22 09:13] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22140-632587308)

[2020-05-22 09:15] rultor commented on #49
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22140-632587308) (spent 2min)

[code]

[2020-05-22 11:30] g4s8 commented on #49
@rultor release, tag=`0.6`

[2020-05-22 11:31] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22140-632644743)

[2020-05-22 11:31] rultor commented on #49
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22140-632644743) (spent 16s)

[code]

[2020-05-22 11:52] g4s8 commented on #49
@rultor release, tag=`0.6`

[2020-05-22 11:53] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22140-632652850)

[2020-05-22 12:02] rultor commented on #49
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22140-632652850) (took me 9min)

[2020-05-22 12:10] Sammers21 opened #69 "Remove Thread.sleep from test"
When a package is published -> metadata is generated/updated. No need to Thread.sleep

https://github.com/artipie/npm-adapter/blob/ae73bc2f95217ad29504b11ac3cd212e81a95d1b/src/test/java/com/artipie/npm/NpmCommandsTest.java#L104

[2020-05-22 12:11] 0crat commented on #69
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 12:35] g4s8 commented on #49
@brastak thanks, closing this bug. It was released as `0.6`, can you update NPM version in Artipie main repo?

[2020-05-22 12:35] #49 closed

[2020-05-22 12:41] g4s8 commented on #69
@Sammers21 metadata update is starting asynchronously, how do you suggest to get rid of `sleep` here?
@brastak

[2020-05-22 12:42] Sammers21 commented on #69
@g4s8, to make it synchronous for a user.

[2020-05-22 12:44] Sammers21 commented on #69
@g4s8, as a user I expect a package to be available as soon as published operation exited

[2020-05-22 12:58] 0crat commented on #49
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @brastak[/z](https://www.0crat.com/u/brastak), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-22 13:14] sereshqua commented on #49
@0crat quality good

[2020-05-22 16:11] victornoel commented on #52
@g4s8 please can you close it?

[2020-05-25 10:53] g4s8 commented on #52
@victornoel thanks

[2020-05-25 10:53] #52 closed

[2020-05-25 11:10] 0crat commented on #52
Job `gh:artipie/npm-adapter#52` is not assigned, can't get performer

[2020-05-25 12:34] g4s8 opened #71 "Unable to download NPM package"
I created simple npm package (see `package.json` in attachments) and successfully published it to Artipie central:
[code]
This command generated a file at `/npm/js-example/-/js-example-0.1.0.tgz` in cloud storage (see file in attachments). But when I tried to install this package from registry, I got an error:
[code]
It's strange that it's failing with error `http://artipie/js-example/-/js-example

[2020-05-25 12:35] 0crat commented on #71
The job [#71](https://github.com/artipie/npm-adapter/issues/71) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/045cff3b-9249-4ede-b63d-df289e49f79c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-05-25 14:21] victornoel commented on #52
@0crat status

[2020-05-25 14:22] 0crat commented on #52
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#52](https://github.com/artipie/npm-adapter/issues/52) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fnpm-adapter%2352%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-25 14:22] victornoel commented on #52
@g4s8 I think 0crat missed this one

[2020-05-25 14:56] g4s8 commented on #52
@0crat pay 30min @victornoel

[2020-05-25 15:08] g4s8 commented on #61
@brastak fixed by `0.20.3`

[2020-05-25 15:08] #61 closed

[2020-05-25 15:25] 0crat commented on #68
The job [#68](https://github.com/artipie/npm-adapter/issues/68) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/918ab32b-b2a6-4e01-a8b6-d308f0e95fcd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-05-25 15:25] 0crat commented on #61
Job `gh:artipie/npm-adapter#61` is not assigned, can't get performer

[2020-05-25 16:35] g4s8 commented on #65
@victornoel thanks, fixed in https://github.com/artipie/npm-adapter/commit/378a701e75a775cdd1475ab3db7af666058f693b

[2020-05-25 16:35] #65 closed

[2020-05-25 16:53] 0crat commented on #65
Job `gh:artipie/npm-adapter#65` is not assigned, can't get performer

[2020-05-26 12:55] brastak commented on #71
@g4s8 Please, describe deployment schema that in use. As I see, response contains Server: nginx header. I suggest, that we have nginx before artipie as reverse proxy. Neither NPM nor NPM-proxy currently not supports reverse proxy.
We need to implement this feature and setup nginx to add X-Forwarded-* headers.

[2020-05-26 14:25] g4s8 commented on #71
@brastak you can find Central configuration environment in github.com/artipie/central/ repo, I've added `proxy_set_header Host $host;` to Nginx config, and it was fixed.

[2020-05-26 14:25] #71 closed

[2020-05-26 14:27] g4s8 opened #72 "Published package not found 404"
I've successfully published a package (same as in https://github.com/artipie/npm-adapter/issues/71 ticket), but unable to install it:
[code]

[2020-05-26 14:28] 0crat commented on #72
The job [#72](https://github.com/artipie/npm-adapter/issues/72) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5b6d19e8-dab8-4a78-81fa-023337c8641f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-05-26 14:52] 0crat commented on #71
Job was finished in 25 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-26 14:52] 0crat commented on #71
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @brastak[/z](https://www.0crat.com/u/brastak), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-26 15:23] brastak commented on #72
@g4s8 It will be fixed together w/ https://github.com/artipie/artipie/pull/174 (just correct NpmSlice initialization is required)

[2020-05-26 15:27] sereshqua commented on #71
@0crat quality bad

[2020-05-26 15:54] 0crat commented on #71
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-05-28 07:55] brastak commented on #72
@g4s8 the related fix was merged, please close if the fix solved the problem

[2020-05-28 09:40] g4s8 commented on #72
@brastak thanks

[2020-05-28 09:40] #72 closed

[2020-05-28 09:57] 0crat commented on #72
Job `gh:artipie/npm-adapter#72` is not assigned, can't get performer

[2020-05-28 10:58] g4s8 opened #73 "500 error on publish"
I tried to publish the same test package as in https://github.com/artipie/npm-adapter/issues/71#issue-624272815 ticket, I added valid credentials to `~/.rpmrc`, I see headers are ok and Artipie accepted the user, but it returns 500 error after about 10 seconds of waiting:
[code]
Artipie logs are empty too, only 500 error.

Other adapters are working fine with same user and same configuration.

Rep

[2020-05-28 11:01] 0crat commented on #73
The job [#73](https://github.com/artipie/npm-adapter/issues/73) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d9c1907a-cfc8-40d3-8367-69fb0b67e991); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-05-28 12:16] brastak commented on #73
@g4s8 Try to add leading `/` to path

[2020-05-29 07:36] g4s8 opened #74 "README is not very clear"
The README file contains a lot of technical information about npm registry internals, but there are no contributors' entry point. We need to add these details:
 - What is npm-adapter (at the top of the readme file).
 - Usage: how to use `Npm` to update registry metadata (without serving a server), and how to integrate it to Artipie server.
 - Contribution: what are the main entry points of npm-ada

[2020-05-29 07:45] 0crat commented on #74
The job [#74](https://github.com/artipie/npm-adapter/issues/74) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/466c5789-531a-43bf-9da7-464abf04c86e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-05-29 08:38] #73 closed

[2020-05-29 08:59] 0crat commented on #73
Job was finished in 21 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-29 09:01] 0crat commented on #73
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @brastak[/z](https://www.0crat.com/u/brastak), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-29 09:10] sereshqua commented on #73
@0crat quality bad

[2020-05-29 09:11] 0crat commented on #73
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-05-29 12:48] 0crat commented on #54
The job [#54](https://github.com/artipie/npm-adapter/issues/54) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/cc68a6f8-2370-4815-ba04-0c38f6a0fb82); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-06-01 11:32] olegmoz commented on #54
@brastak could you please clarify what this issue is about?

[2020-06-01 11:59] brastak commented on #54
@olegmoz This test was written by Guseyn and should verify UploadSlice works correctly (as I think). Now it fails and the checks are partly redundant and partly incorrect. Test should be rewritten:
1) new payload should be generated;
2) we don't need to check Storage state here, it's too heavy. I think, it will be enough to check correspondent mocks to be called

[2020-06-03 07:17] #54 closed

[2020-06-03 07:35] 0crat commented on #54
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-03 08:19] sereshqua commented on #54
@0crat quality good

[2020-06-04 05:00] artemlazarev opened #78 "possible data corruption or http:500 in case of parallel npm package upload"
If two differet user desides upload the same revision of npm package, UploadSlice.class  will generate
the same name for temp file.
In that case we must return 409 or do something else. Possible solution: generate random name for temp file on the fly.

[2020-06-04 05:00] 0crat commented on #78
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-04 06:33] g4s8 commented on #78
@brastak please check this issue

[2020-06-07 08:58] artemlazarev opened #80 "Integration tests required installed npm tooling"
Integration tests required installed npm tooling. May be it will be good run integration tests in the container.

[2020-06-07 08:58] 0crat commented on #80
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-08 07:49] 0crat commented on #74
The user @brastak[/z](https://www.0crat.com/u/brastak) resigned from [#74](https://github.com/artipie/npm-adapter/issues/74), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-08 08:50] 0crat commented on #74
The job [#74](https://github.com/artipie/npm-adapter/issues/74) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a73b2678-ec55-4ce0-b727-88e708adaae3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-06-08 08:51] victornoel commented on #74
@0crat refuse

[2020-06-08 08:57] 0crat commented on #74
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-08 15:25] g4s8 commented on #80
@artemlazarev yes, that's good point, I think we need to wrap it with Testcontainers like other integration tests

[2020-06-08 16:45] 0crat commented on #74
The job [#74](https://github.com/artipie/npm-adapter/issues/74) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/10388a1f-e0c8-4509-8c42-10e15b3a53d7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-06-08 16:52] marceloamadeu commented on #74
@0crat refuse

[2020-06-08 16:57] 0crat commented on #74
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#74](https://github.com/artipie/npm-adapter/issues/74), please stop working. Reason for job resignation: Order was cancelled

[2020-06-08 16:57] 0crat commented on #74
@marceloamadeu Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-11 08:09] #78 closed

[2020-06-11 08:28] 0crat commented on #78
Job `gh:artipie/npm-adapter#78` is not assigned, can't get performer

[2020-06-15 14:47] 0crat commented on #74
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-17 17:51] paulodamaso commented on #74
@g4s8 I think that this issue is outdated, seems that the information you require is already at readme.

[2020-06-22 20:20] paulodamaso commented on #74
@0crat wait for @g4s8

[2020-06-22 20:21] paulodamaso commented on #74
@g4s8 ping

[2020-06-23 07:18] g4s8 commented on #74
@paulodamaso I don't think so. It's still describing how `npm` CLI command works and what's the protocol of npm registry API, but there are no words about npm-adapter itself. Try to picture that you've just received a development task from this repository, what information you'd expect in the readme to quickly understand the project? Another case is if you receive a task from another module to int

[2020-07-15 14:22] 0pdd opened #85 "CircuitBreakerNpmRemote.java:36-40: Wrap new instances of..."
The puzzle `16-ac6a0eac` from #16 has to be resolved:

https://github.com/artipie/npm-adapter/blob/0d197e04dc32316d811954efb2c1ff3150ae5778/npm-proxy-adapter/src/main/java/com/artipie/npm/proxy/CircuitBreakerNpmRemote.java#L36-L40

The puzzle was created by @g4s8 on 15-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-07-15 14:22] 0pdd opened #86 "CircuitBreakerNpmRemote.java:41-46: Add a test to ensure..."
The puzzle `16-6161ad7f` from #16 has to be resolved:

https://github.com/artipie/npm-adapter/blob/0d197e04dc32316d811954efb2c1ff3150ae5778/npm-proxy-adapter/src/main/java/com/artipie/npm/proxy/CircuitBreakerNpmRemote.java#L41-L46

The puzzle was created by @g4s8 on 15-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2020-07-17 08:34] g4s8 opened #87 "Update http and dependency asto"
NPM has outdated dependencies incompatible with latest public API: https://github.com/artipie/artipie/issues/350
Let's update `artipie/http` and `artipie/asto` to the latest version to fix that.

[2020-07-17 09:59] Sammers21 opened #91 "Path is expected to start with http://localhost:8080/npm_repo/ but was /npm_repo/sample-npm-project"
When i applied artipie/artipie#350 fix, the following error occurred on attempt to publish a package:
[code]

[2020-07-17 10:46] Sammers21 opened #89 "Fix tests disabled in #88 PR"
Some tests have been disabled for the proxy module in #88 PR during asto/http module migration process. The occurred problems should be investigated and fixed.

[2020-07-17 11:08] #87 closed

[2020-07-17 11:29] 0crat commented on #87
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-17 11:30] 0crat commented on #87
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-17 11:34] sereshqua commented on #87
@0crat quality bad

[2020-07-17 11:50] g4s8 commented on #87
@rultor release, tag=`0.7`

[2020-07-17 11:51] rultor commented on #87
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22625-660065291)

[2020-07-17 11:57] 0crat commented on #87
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-07-17 11:58] rultor commented on #87
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22625-660065291) (spent 7min)

[code]

[2020-07-17 12:11] g4s8 commented on #87
@rultor release, tag=`0.7`

[2020-07-17 12:11] rultor commented on #87
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22625-660073008)

[2020-07-17 12:18] rultor commented on #87
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22625-660073008) (spent 7min)

[code]

[2020-07-20 06:54] g4s8 opened #90 "Deploy to Maven central failed: the staging repository to operate against is not defined"
NPM adapter can't be deployed because of error from Maven central (the full log is here: https://www.rultor.com/t/22625-660073008):
[code]

Looks like it becomes broken after changes in `pom.xml` when creating two modules for proxy and non-proxy adapters.

[2020-07-20 14:27] g4s8 commented on #91
@Sammers21 I've moved this ticket to `artipie/npm-adapter` repo

[2020-07-21 16:33] marceloamadeu commented on #89
@0crat refuse

[2020-07-22 07:27] g4s8 commented on #74
@0crat refuse

[2020-07-22 07:28] 0crat commented on #74
@g4s8 The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#74](https://github.com/artipie/npm-adapter/issues/74), please stop working. Reason for job resignation: Order was cancelled

[2020-07-22 14:18] marceloamadeu commented on #89
@0crat status

[2020-07-22 15:59] 0crat commented on #89
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-23 18:40] marceloamadeu commented on #89
@0crat refuse

[2020-07-28 08:47] 0crat commented on #91
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-28 08:58] 0crat commented on #90
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-30 14:18] #90 closed

[2020-07-30 14:46] 0crat commented on #90
Job [#90](https://github.com/artipie/npm-adapter/issues/90) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-08-05 16:03] marceloamadeu commented on #89
@0crat status

[2020-09-22 04:04] dingdaoyi opened #119 "The ‘time’ field is lost during meta.json update. Only the ‘created ’field is displayed."
"time": {
        "1.0.4": "2018-07-25T03:23:08.183Z",
        "1.0.5": "2018-07-25T03:48:17.879Z",
        "1.0.6": "2018-07-25T06:32:03.849Z",
        "1.0.7": "2018-07-25T07:00:53.925Z",
        "1.0.0": "2018-07-24T03:36:13.102Z",
        "1.1.4": "2018-08-22T04:03:22.977Z",
        "1.0.2": "2018-07-24T05:43:35.163Z",
        "1.0.3": "2018-07-25T03:13:39.348Z",
        "1.0.8": "2018-07-25T0

[2020-09-23 12:54] olegmoz opened #120 "Remove base path support feature"
Base path support is not required in NPM. In Artipie it should be established on upper level.
Base path is used in NPM to build absolute URLs to stored artifacts, base URL should be used instead to allow NPM be hosted on any port and protected by a reverse proxy.

[2020-09-23 14:33] #120 closed

[2020-09-23 14:33] olegmoz commented on #120
@rultor release, tag=`0.7`

[2020-09-23 14:34] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-697453494)

[2020-09-23 14:43] rultor commented on #120
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23396-697453494) (took me 8min)

[2020-09-23 14:59] 0crat commented on #120
Job `gh:artipie/npm-adapter#120` is not assigned, can't get performer

[2020-09-24 07:52] olegmoz commented on #120
@rultor release, tag=`0.7.1`

[2020-09-24 07:53] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698179859)

[2020-09-24 08:03] rultor commented on #120
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23396-698179859) (took me 9min)

[2020-09-24 08:24] olegmoz commented on #120
@olenagerasimova new release is ready, please try it

[2020-09-24 09:47] olegmoz commented on #120
@rultor release, tag=`0.7.2`

[2020-09-24 09:49] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698239564)

[2020-09-24 10:00] rultor commented on #120
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23396-698239564) (took me 11min)

[2020-09-24 10:40] olegmoz commented on #120
@rultor release, tag=`0.7.3`

[2020-09-24 10:41] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698264456)

[2020-09-24 10:42] rultor commented on #120
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23396-698264456) (spent 26s)

[code]

[2020-09-24 10:43] olegmoz commented on #120
@rultor release, tag=`0.7.4`

[2020-09-24 10:44] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698265752)

[2020-09-24 10:53] rultor commented on #120
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23396-698265752) (took me 8min)

[2020-09-24 11:05] olegmoz commented on #120
@rultor release, tag=`0.7.5`

[2020-09-24 11:06] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698275168)

[2020-09-24 11:13] rultor commented on #120
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23396-698275168) (spent 7min)

[code]

[2020-09-24 11:48] olegmoz commented on #120
@yegor256 please touch `.rultor.yaml` once again, there were changes to project structure

[2020-09-24 11:52] yegor256 commented on #120
@olegmoz done

[2020-09-24 12:06] olegmoz commented on #120
@rultor release, tag=`0.7.5`

[2020-09-24 12:06] olegmoz commented on #120
@yegor256 thanks!

[2020-09-24 12:06] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698301358)

[2020-09-24 12:11] rultor commented on #120
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23396-698301358) (spent 5min)

[code]

[2020-09-24 12:59] olegmoz commented on #120
@rultor release, tag=`0.7.5`

[2020-09-24 13:00] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698327909)

[2020-09-24 13:02] olegmoz opened #122 "Fix and enable integration test NpmCommandsTest"
`NpmCommandsTest` is currently disabled. It seems that the problem with the test is rather minor and caused by change of paths in the repository. The test should be fixed and enabled at least for Unix OS

[2020-09-24 13:05] olegmoz opened #123 "NPM proxy should be added to project"
NPM proxy is currently located in project `npm-proxy-adapter`, but there is no point in keeping it in separate project. Entry point class `NpmProxySlice` should be moved to root project with all it's dependencies

[2020-09-24 13:07] rultor commented on #120
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23396-698327909) (spent 7min)

[code]

[2020-09-24 13:08] olegmoz commented on #120
@rultor release, tag=`0.7.5`

[2020-09-24 13:10] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698332946)

[2020-09-24 13:15] rultor commented on #120
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23396-698332946) (spent 6min)

[code]

[2020-09-24 13:21] olegmoz commented on #120
@rultor release, tag=`0.7.5`

[2020-09-24 13:22] rultor commented on #120
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23396-698340153)

[2020-09-24 13:32] rultor commented on #120
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23396-698340153) (took me 9min)

[2020-09-25 09:25] 0crat commented on #123
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-25 09:26] 0crat commented on #122
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-25 09:31] olegmoz opened #124 "Remove Codecov from CI checks"
Now uploading to Codecov is done inside build pipeline which makes it fail when the service is unavailable. This should be resolved by removing Codecov from  CI checks and enabling it as optional process using GitHub integration

[2020-09-25 09:32] 0crat commented on #124
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-28 06:55] #124 closed

[2020-09-28 07:15] 0crat commented on #124
Job `gh:artipie/npm-adapter#124` is not assigned, can't get performer

[2020-09-28 13:31] olegmoz opened #127 "Run NPM command in integration tests using Docker"
Now integration tests in the project are running NPM command on local machine and so require NPM utility to be installed. To make it easier to run the tests NPM command should not be required. This can be archived by running it inside Docker container as it is done in Artipie integration tests and other adapters.

[2020-09-29 07:31] #122 closed

[2020-09-29 08:03] 0crat commented on #122
Job `gh:artipie/npm-adapter#122` is not assigned, can't get performer

[2020-09-29 10:20] 0pdd opened #129 "NpmCommandsTest.java:114-118: Fix and enable..."
The puzzle `123-9c583b0d` from #123 has to be resolved:

https://github.com/artipie/npm-adapter/blob/a441bfd44b8d695a9040748c30fce007aabe530a/src/test/java/com/artipie/npm/NpmCommandsTest.java#L114-L118

The puzzle was created by @olegmoz on 28-Sep-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-09-29 10:20] 0pdd commented on #123
@olegmoz the puzzle [#129](https://github.com/artipie/npm-adapter/issues/129) is still not solved.

[2020-09-29 16:15] #123 closed

[2020-09-29 16:32] 0crat commented on #123
Job `gh:artipie/npm-adapter#123` is not assigned, can't get performer

[2020-09-29 20:23] olegmoz commented on #119
@dingdaoyi thanks for the report. Could you please provide example of `meta.json` file you expect and one you actually receive?

[2020-10-09 09:34] 0crat commented on #127
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-09 09:35] 0crat commented on #89
@olegmoz[/z](https://www.0crat.com/u/olegmoz) I see that you unassigned this issue; the order is still assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-10-09 09:35] 0crat commented on #89
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-12 06:24] genryxy commented on #80
@olegmoz it looks like duplicate #127

[2020-10-12 06:38] dingdaoyi commented on #119
@olegmoz
{
    "name": "test-test-test-test",
    "license": "ISC",
    "versions": {
        "2.2.1": {
            "gitHead": "f02c87f395dde996644b930c984feeef8fbe5f78",
            "_id": "test-test-test-test@2.2.1",
            "dist": {
                "tarball": "http://mirrors.tools.huawei.com/npm/test-test-test-test/-/test-test-test-test-2.2.1.tgz",
                "shasum": "0a28faf7911b5

[2020-10-12 07:30] genryxy commented on #69
@olegmoz it looks like duplicate #67

[2020-10-12 07:56] 0crat commented on #129
You @genryxy[/z](https://www.0crat.com/u/genryxy) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-12 08:27] olegmoz commented on #69
@genryxy that's right, thanks

[2020-10-12 08:27] #69 closed

[2020-10-12 08:28] olegmoz commented on #80
@genryxy thanks, closing

[2020-10-12 08:28] #80 closed

[2020-10-12 08:47] 0crat commented on #69
Job `gh:artipie/npm-adapter#69` is not assigned, can't get performer

[2020-10-12 08:48] 0crat commented on #80
Job `gh:artipie/npm-adapter#80` is not assigned, can't get performer

[2020-10-12 11:22] #68 closed

[2020-10-12 11:22] #127 closed

[2020-10-12 12:05] 0crat commented on #127
Job `gh:artipie/npm-adapter#127` is not assigned, can't get performer

[2020-10-12 12:06] 0crat commented on #68
Job `gh:artipie/npm-adapter#68` is not assigned, can't get performer

[2020-10-12 14:27] #67 closed

[2020-10-12 14:27] #129 closed

[2020-10-12 14:27] 0pdd commented on #123
@olegmoz the only puzzle [#129](https://github.com/artipie/npm-adapter/issues/129) is solved here.

[2020-10-12 14:58] 0crat commented on #129
Job `gh:artipie/npm-adapter#129` is not assigned, can't get performer

[2020-10-12 14:58] 0crat commented on #67
Job `gh:artipie/npm-adapter#67` is not assigned, can't get performer

[2020-10-13 09:22] olegmoz commented on #119
@genryxy could you please try to reproduce this issue with example JSON?

[2020-10-13 09:26] genryxy commented on #119
@olegmoz yeah, I'll try

[2020-10-13 16:29] genryxy commented on #119
@olegmoz I've investigated this problem
In class `UploadSliceTest` in method `uploadsFilesToRemote` create json file like that (currently json is being created without a version)
[code]
`meta.json` that was saved in storage. Even `created` tag is wrong
[code]
This problem occurs because `NpmPublishJsonToMetaSkelethon#skeleton` doesn't work properly. This class is used in `Npm#updateMetaFile`. And

[2020-10-14 06:29] olegmoz commented on #119
@genryxy thanks for figuring it out, could you please add a disabled test for reproducing this issue?

[2020-10-15 08:11] 0crat commented on #119
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-16 10:13] #119 closed

[2020-10-16 10:32] 0crat commented on #119
Job `gh:artipie/npm-adapter#119` is not assigned, can't get performer

[2020-10-19 15:37] olegmoz commented on #119
@rultor release, tag=`0.7.6`

[2020-10-19 15:38] rultor commented on #119
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23566-712251038)

[2020-10-19 15:45] rultor commented on #119
@dingdaoyi @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23566-712251038) (spent 7min)

[code]

[2020-10-20 07:45] olegmoz commented on #119
@yegor256 please touch `.rultor.yml` to allow creating new NPM release

[2020-10-20 09:18] #89 closed

[2020-10-20 10:08] olegmoz opened #137 "Integration tests are not performed"
Integration tests are not running in CI pipeline, example is `NpmProxyITCase` class missing in build: https://github.com/artipie/npm-adapter/actions/runs/317180206

[2020-10-20 10:23] 0crat commented on #89
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @Sammers21 (its creator); I won't close the order; please, re-open it and ask @Sammers21 to close it

[2020-10-20 10:27] 0crat commented on #137
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-20 14:01] #137 closed

[2020-10-20 14:18] 0crat commented on #137
Job `gh:artipie/npm-adapter#137` is not assigned, can't get performer

[2020-10-21 10:09] olegmoz commented on #119
@yegor256 please touch `.rultor.yml` to allow creating new NPM release

[2020-10-21 11:22] yegor256 commented on #119
@olegmoz done in 322b23b

[2020-10-21 11:27] olegmoz commented on #119
@yegor256 thanks!

[2020-10-21 11:27] olegmoz commented on #119
@rultor release, tag=`0.7.6`

[2020-10-21 11:27] rultor commented on #119
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23566-713501450)

[2020-10-21 11:37] rultor commented on #119
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23566-713501450) (took me 9min)

[2020-10-21 12:03] olegmoz commented on #119
@dingdaoyi release `0.7.6` is ready with fix for problem you reported

[2020-10-22 11:08] dingdaoyi opened #139 "This method curlWithScope at src/main/java/com/artipie/npm/TgzRelativePath.java has a regex bug. Please fix it."
https://github.com/artipie/npm-adapter/blob/322b23b66477c640e35d13b7d1ab787b97d0b18c/src/main/java/com/artipie/npm/TgzRelativePath.java#L99

npm package name：@test/test.suffix
full path:http://localhost:8080/artifactory/api/npm/@test/test.suffix/-/@test/test.suffix-5.5.3.tgz
Expected /@test/test.suffix/-/@test/test.suffix-5.5.3.tgz
but got test/test.suffix-5.5.3.tgz

npm cli :
package.json
{
  "na

[2020-10-22 11:12] dingdaoyi commented on #139
npm version npm@6.14.8

[2020-10-22 11:59] olegmoz opened #140 "Migrate to HTTP 0.16.7, use BasicAuthSlice"
Migrate to HTTP `0.16.7`, use `BasicAuthSlice` instead of deprecated `SliceAuth` and `Identities`

[2020-10-22 12:02] 0crat commented on #140
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-23 09:04] genryxy opened #141 "npm Install test doesn't work properly"
Now command `npm install` installs only `package.json` that contains
[code]
But this command should also install `index.js`. The file `package.json` should  contains
[code]
This is most likely due to the fact that saved to storage `.tgz` file is corrupted. His size should be 307 bytes, but now is 531  bytes.   The same approach for saving is used in Artipie `NpmITCase` and it works properly. `NpmI

[2020-10-23 12:11] 0pdd opened #144 "NpmProxyITCase.java:58-62: Fix NPM proxy integration..."
The puzzle `141-ed29e327` from #141 has to be resolved:

https://github.com/artipie/npm-adapter/blob/6a98c8469b7ac175e9a0e25d174baaac5a607838/src/test/java/com/artipie/npm/proxy/NpmProxyITCase.java#L58-L62

The puzzle was created by Oleg Mozzhechkov on 23-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"do

[2020-10-23 12:11] 0pdd commented on #141
@genryxy the puzzle [#144](https://github.com/artipie/npm-adapter/issues/144) is still not solved.

[2020-10-23 12:35] #144 closed

[2020-10-23 12:35] 0pdd commented on #141
@genryxy the only puzzle [#144](https://github.com/artipie/npm-adapter/issues/144) is solved here.

[2020-10-23 12:54] 0crat commented on #144
Job `gh:artipie/npm-adapter#144` is not assigned, can't get performer

[2020-10-23 12:55] #140 closed

[2020-10-23 12:55] olegmoz commented on #140
@rultor release, tag=`0.7.7`

[2020-10-23 12:56] rultor commented on #140
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23589-715323549)

[2020-10-23 13:06] rultor commented on #140
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23589-715323549) (took me 9min)

[2020-10-23 13:12] 0crat commented on #140
Job `gh:artipie/npm-adapter#140` is not assigned, can't get performer

[2020-10-30 10:01] 0crat commented on #139
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-11-02 08:24] #139 closed

[2020-11-02 09:02] 0crat commented on #139
Job `gh:artipie/npm-adapter#139` is not assigned, can't get performer

[2020-12-15 08:35] genryxy opened #148 "Trim path for NpmProxySlice"
In Artipie module for most adapters method for trimming request line is used (`TrimPathSlice`). But for `npm-proxy` this method breaks implementation. It's necessary to investigate is it possible to create path patterns in `NpmProxySlice` that would be valid after trimming path with `TrimPathSlice`. See this issue for more information (artipie/artipie#738)

[2020-12-17 06:30] dingdaoyi commented on #139
@olegmoz @victornoel @genryxy
please deploy release version for this issues, we can upgrade the version.

[2020-12-17 10:10] olegmoz commented on #139
@rultor release, tag=`0.7.8`

[2020-12-17 10:11] rultor commented on #139
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23881-747342895)

[2020-12-17 10:20] rultor commented on #139
@dingdaoyi @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23881-747342895) (spent 9min)

[code]

[2020-12-17 10:27] olegmoz commented on #139
@yegor256 release is failing due to some kind of security issue, could you please take a look?

The message in rultor log is the following:
[code]

[2020-12-17 11:18] olegmoz commented on #139
@rultor release, tag=`0.7.9`

[2020-12-17 11:20] rultor commented on #139
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23881-747378185)

[2020-12-17 11:30] rultor commented on #139
@dingdaoyi @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23881-747378185) (spent 10min)

[code]

[2020-12-18 07:21] olegmoz commented on #139
@rultor release, tag=`0.7.10`

[2020-12-18 07:22] rultor commented on #139
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23881-747917847)

[2020-12-18 07:35] rultor commented on #139
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23881-747917847) (took me 12min)

[2020-12-18 07:42] olegmoz commented on #139
@dingdaoyi release `0.7.10` is ready, sorry for the delay

[2020-12-21 03:39] dingdaoyi commented on #139
xiexie

[2020-12-25 09:56] dingdaoyi commented on #139
@olegmoz @rultor @genryxy
npm-adapter 0.7.10 is incompatible with metadata of earlier versions.
when processing meta.json, check whether the modified field exists. Rectify the issue and release the it.
bug code：

com.artipie.npm.Meta

        patch.replace("/time/modified", now);
        return new Meta(
            patch
                .build()
                .apply(this.json)
        );

[2020-12-25 11:40] olegmoz commented on #139
@rultor release, tag=`0.7.11`

[2020-12-25 11:40] rultor commented on #139
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23881-751237214)

[2020-12-25 11:50] rultor commented on #139
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23881-751237214) (took me 9min)

[2020-12-25 11:52] olegmoz commented on #139
@dingdaoyi `0.7.11` of `npm-adapter` has been released with fix for the reported issue, it is now available at Maven Central

[2020-12-29 08:14] dingdaoyi opened #150 "【bug】this.json.getString(NpmPublishJsonToMetaSkelethon.READM may throw null point exception"
npm publish tgz package
eg：
{
    "_id": "@ironfang-js/ironfang-js",
    "name": "@ironfang-js/ironfang-js",
    "description": "Ironfang Web Framework",
    "dist-tags": {
        "latest": "0.0.1"
    },
    "versions": {
        "0.0.1": {
            "name": "@ironfang-js/ironfang-js",
            "version": "0.0.1",
            "description": "Ironfang Web Framework",
            "main": "./l

[2020-12-29 08:35] dingdaoyi commented on #139
I'm sorry, but there's one issue that needs to be fixed.
@olegmoz @rultor @genryxy
https://github.com/artipie/npm-adapter/issues/150

[2020-12-29 12:36] #150 closed

[2020-12-29 12:36] olegmoz commented on #150
@rultor release, tag=`0.7.12`

[2020-12-29 12:37] rultor commented on #150
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23920-752060535)

[2020-12-29 12:46] rultor commented on #150
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23920-752060535) (took me 8min)

[2020-12-29 13:07] 0crat commented on #150
Job `gh:artipie/npm-adapter#150` is not assigned, can't get performer

[2020-12-29 17:28] olegmoz commented on #150
@dingdaoyi version `0.7.12` has been released and contains fix for the bug

[2021-01-04 08:28] dingdaoyi commented on #150
Thank's. We've upgraded to version 0.7.12.
there are several issues that need to be optimized：
1,TgzArchive,NpmPublishJsonToMetaSkelethon,Meta Should be pubic class,or please complete Npm#updateMetaFile method
2,com.artipie.npm.Tarballs#updateJson JsonPatchBuilder has poor performance in multi-version replacement and is not as good as JsonObjectBuilder.
3,npm unpublish, npm dist-tags,npm deprecate

[2021-01-07 09:58] dingdaoyi commented on #139
@olegmoz @rultor @genryxy
When users synchronize mirror data, files cannot be uploaded，The version 0.7.12 needs to be hot fixed.
Please handle the problem as soon as possible. The version on the live network has been rolled back and is waiting for the upgrade.
com.artipie.npm.TgzRelativePath#curlWithScope Add the following regular regex matching ,or restore the com.artipie.npm.Npm.Npm(com.artipie.

[2021-01-07 14:32] genryxy opened #153 "Replace `JsonPatchBuilder` with `JsonObjectBuilder`"
It is necessary to compare performance  in multi-version replacement of `JsonPatchBuilder` and  `JsonObjectBuilder`. If `JsonObjectBuilder` has better performance, replace `JsonPatchBuilder` with `JsonObjectBuilder` in `com.artipie.npm.Tarballs#updateJson`. From: https://github.com/artipie/npm-adapter/issues/150#issuecomment-753834830

[2021-01-07 14:41] genryxy opened #154 "Support `npm unpublish`"
It is necessary to provide support for `npm unpublish` command.  Investigate this issue and add this feature. https://docs.npmjs.com/cli/v6/commands/npm-unpublish From: https://github.com/artipie/npm-adapter/issues/150#issuecomment-753834830

- [ ] unpublishing a single version of a package
- [x] unpublishing an entire package

[2021-01-07 14:42] genryxy opened #155 "Support `npm dist-tags`"
It is necessary to provide support for `npm dist-tags` command. Investigate this issue and add this feature. https://docs.npmjs.com/cli/v6/commands/npm-dist-tag From: #150 (comment)

[2021-01-07 14:44] genryxy opened #156 "Support `npm deprecate`"
It is necessary to provide support for `npm deprecate` command. Investigate this issue and add this feature. https://docs.npmjs.com/cli/v6/commands/npm-deprecate From: #150 (comment)

[2021-01-11 07:45] olegmoz commented on #139
@rultor release, tag=`0.7.13`

[2021-01-11 07:46] rultor commented on #139
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23881-757680565)

[2021-01-11 07:56] rultor commented on #139
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23881-757680565) (took me 10min)

[2021-01-11 09:22] olegmoz commented on #139
@dingdaoyi `0.7.13` version has been released, it has fix for the reported issue

[2021-01-22 09:13] 0crat commented on #156
You @genryxy[/z](https://www.0crat.com/u/genryxy) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-01-22 12:15] 0crat commented on #154
You @genryxy[/z](https://www.0crat.com/u/genryxy) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-01-25 06:27] olenagerasimova opened #164 "Code coverage metrics"
Let's set code coverage metrics values with the help of jacoco plugin, add codecov gitlab action and corresponding badge to readme.

[2021-01-26 09:09] #164 closed

[2021-01-26 09:09] 0pdd opened #168 "package-info.java:29-32: Improve code coverage by writing..."
The puzzle `164-52856a91` from #164 has to be resolved:

https://github.com/artipie/npm-adapter/blob/161f9e319dc4e3a8a0300130f3c4063ee246b702/src/main/java/com/artipie/npm/package-info.java#L29-L32

The puzzle was created by @olenagerasimova on 25-Jan-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2021-01-26 09:09] 0pdd commented on #164
@olenagerasimova the puzzle [#168](https://github.com/artipie/npm-adapter/issues/168) is still not solved.

[2021-01-26 09:26] 0crat commented on #164
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2021-01-26 10:09] g4s8 opened #169 "Incorrect path in TgzRelativePath"
After the NPM uploads a package without scope, the package cannot be downloaded based on the tarball.

Code to reproduce:
[code]

expected: `zlComponent/1.0.1/zlComponent-1.0.1.tgz`
result: `1.0.1/zlComponent-1.0.1.tgz`

[2021-01-26 10:36] olenagerasimova commented on #169
@g4s8 I do not know nodejs very well, can you please provide example package?

[2021-01-26 11:41] kirill-h5i commented on #169
@olenagerasimova please check example archive:
[jQuery-1.7.4.tar.gz](https://github.com/artipie/npm-adapter/files/5873052/jQuery-1.7.4.tar.gz)

[2021-01-26 13:04] #155 closed

[2021-01-26 13:22] 0crat commented on #155
Job `gh:artipie/npm-adapter#155` is not assigned, can't get performer

[2021-01-27 08:34] g4s8 commented on #23
@y00437830 this issues seems to be outdated, since we've added integration tests with scopes and didn't reproduce such issue. Please submit a new bug in case if you still have an issue.

[2021-01-27 08:34] #23 closed

[2021-01-27 08:35] g4s8 commented on #28
@y00437830 closing as outdated, please submit a new issue if you still have a problem.

[2021-01-27 08:35] #28 closed

[2021-01-27 08:36] g4s8 commented on #30
@dingdaoyi closing as duplicate of #169

[2021-01-27 08:36] #30 closed

[2021-01-27 08:40] g4s8 commented on #36
@genryxy please check if this task is still valid, and remove this puzzle if it's outdated

[2021-01-27 09:00] 0crat commented on #23
Job `gh:artipie/npm-adapter#23` is not assigned, can't get performer

[2021-01-27 09:03] 0crat commented on #28
Job `gh:artipie/npm-adapter#28` is not assigned, can't get performer

[2021-01-27 09:05] 0crat commented on #30
Job `gh:artipie/npm-adapter#30` is not assigned, can't get performer

[2021-01-27 10:21] #156 closed

[2021-01-27 13:56] g4s8 commented on #156
@rultor release, tag=`0.8`

[2021-01-27 13:57] rultor commented on #156
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24031-768301568)

[2021-01-27 14:07] rultor commented on #156
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24031-768301568) (took me 9min)

[2021-01-28 07:16] g4s8 opened #174 "Deprecated NPM package doesn't shows warning on install"
After running deprecate on NPM package, the message and package appears in metadata file in registry, but on install `npm` doesn't shows a warning like promised in https://docs.npmjs.com/cli/v6/commands/npm-deprecate

It can be tested with these steps:
 1. Build artipie docker and run it from `artipie/examples/npm` similar to `run.sh`
 2. Go to `sample-npm-project` dir and upload it using `npm --r

[2021-01-28 14:19] #141 closed

[2021-01-28 17:12] olenagerasimova commented on #174
@g4s8 @genryxy hm, as far as I understood from npm docs massage is mandatory, so may be npm simply does not add `deprecated` tag to the metadata in this case?

[2021-01-28 17:14] olenagerasimova commented on #141
@rultor release, tag=`0.8.1`

[2021-01-28 17:16] rultor commented on #141
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24047-769238803)

[2021-01-28 17:33] rultor commented on #141
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24047-769238803) (took me 17min)

[2021-01-29 07:38] genryxy commented on #174
@olenagerasimova Do you mean to add `deprecated` tag not only to `meta.json` file but also for `package.json` files from archives?

[2021-01-29 07:46] olenagerasimova commented on #174
@genryxy no, `package.json` should not contain `deprecate` field, only `meta.json` should. On `deprecate` `npm` sends us PUT request with `meta.json` in the body, where necessary `deprecate` fields were added (check DeprecateSliceTest as an example). So, may be, in the case with empty message in `deprecate` command, `npm` simply does nothing?

[2021-02-01 08:15] #63 closed

[2021-02-01 08:15] 0pdd commented on #49
@g4s8 the only puzzle [#63](https://github.com/artipie/npm-adapter/issues/63) is solved here.

[2021-02-01 09:39] genryxy commented on #174
@g4s8 I added IT to show that warn is shown. Probably it is necessary to publish package from `../sample-consumer/` directory before run `npm --registry=http://localhost:8080 install` because `simple-npm-project` is dependency of `sample-consumer`.

[2021-02-01 12:34] g4s8 commented on #154
@genryxy can we close this ticket or we have something else to finish it?

[2021-02-01 12:43] genryxy commented on #154
@g4s8 There is not implemented yet unpublishing a single version of a package because I do not know how to get a specific version from the request.

[2021-02-01 15:01] g4s8 commented on #154
Maybe this HTTP stream of unpublishing requests of specific version will help you.

It's the stream when removing the only version in repository (in repo `sample-npm-project@1.0.0`, unpublishing `sample-npm-projects@1.0.0`), `npm` uses `DELETE` request for removing the package:
[code]

And example where repo has two versions of package (1.0.0 and 1.0.1, unpublishing 1.0.0):
[code]

In second case

[2021-02-01 16:23] genryxy commented on #154
@g4s8 thanks, I'll try to implement deleting by version using the above stream output. Although when running the IT test I have this output.
[code]

[2021-02-08 07:54] dingdaoyi opened #184 "Exact match is used to obtain files from .tgz files. Fuzzy match may fail to obtain correct files."
for example, multiple files in the compressed package have the same name but different paths.
at:
com.artipie.npm.TgzArchive#file

[2021-02-08 08:39] g4s8 opened #185 "Short license headers"
Let's use short license version headers for source file:
[code]
instead of
[code]

It's not supposed to do this job manually, please make simple script, e.g. with `sed` or something else. For qulice validation, let's create a separate short license file in repo root `LICENSE.header` and configure qulice to check it with:
[code]

[2021-02-08 10:28] baudoliver7 commented on #185
@g4s8 I find it very interesting 👍

[2021-02-09 07:10] genryxy commented on #91
@g4s8 I think this ticket is not valid anymore because NPM proof passes in `artipie` repo and NPM IT cases pass in both repos

[2021-02-09 08:21] #91 closed

[2021-02-09 08:38] genryxy commented on #184
@dingdaoyi thanks for your report. Could you attach example of this archive for a clearer understanding of the issue?

[2021-02-09 09:22] 0crat commented on #91
The project doesn't have enough funds, can't make a payment

[2021-02-09 11:31] genryxy opened #188 "NPM - local registry"
The main functionality that the npm-adapter should support:

- [x] `npm publish`
- [x] `npm install`
- [x] `npm dist-tag` (add, rm, ls)
- [x] authentication & authorisation
- [x] `npm deprecate` (single version and un-deprecate with `""`)
- [x] `npm unpublish`
  - [x] package
  - [x] version
- [x] publish through `curl PUT archive-name.tgz`

[2021-02-09 11:31] genryxy commented on #188
@g4s8 please take a look

[2021-02-10 18:53] baudoliver7 commented on #185
@g4s8 I'm looking for the good configuration of maven for qulice to support a different license file because in our case, we have already defined in pom parent a default execution with an explicit license file, which is different for our short license file. I'm trying to override this configuration.

[2021-02-10 19:19] baudoliver7 commented on #185
@g4s8 I was talking about some reliance errors from FindBugs after overriding qulice plugin configuration. You can see these errors in the last commit.

[2021-02-11 09:10] 0pdd commented on #168
The puzzle `164-52856a91` has disappeared from the source code, that's why I closed this issue.

[2021-02-11 09:11] 0pdd opened #190 "package-info.java:29-32: Improve code coverage for missed..."
The puzzle `168-faf64628` from #168 has to be resolved:

https://github.com/artipie/npm-adapter/blob/728411d8e0ce4a511b2d82d74387341f5d0cca42/src/main/java/com/artipie/npm/package-info.java#L29-L32

The puzzle was created by @baudoliver7 on 08-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2021-02-11 09:11] 0pdd commented on #164
@olenagerasimova the puzzle [#190](https://github.com/artipie/npm-adapter/issues/190) is still not solved; solved: [#168](https://github.com/artipie/npm-adapter/issues/168).

[2021-02-11 09:11] 0pdd commented on #168
@0pdd the puzzle [#190](https://github.com/artipie/npm-adapter/issues/190) is still not solved.

[2021-02-18 15:31] genryxy commented on #184
@dingdaoyi  could you attach example of archive for a clearer understanding of the issue?

[2021-02-19 08:13] 0crat commented on #184
You @genryxy[/z](https://www.0crat.com/u/genryxy) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-02-19 09:06] #36 closed

[2021-02-19 09:06] 0pdd commented on #27
@y00437830 the only puzzle [#36](https://github.com/artipie/npm-adapter/issues/36) is solved here.

[2021-02-20 07:26] #154 closed

[2021-02-20 08:12] 0crat commented on #154
Job `gh:artipie/npm-adapter#154` is not assigned, can't get performer

[2021-02-20 08:22] 0crat commented on #169
@g4s8[/z](https://www.0crat.com/u/g4s8) I see that you unassigned this issue; the order is still assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2021-02-20 20:01] genryxy commented on #169
@g4s8 I do not think that expected result is correct as we have path to tgz archive: `package-name/-/package-name-1.0.0.tgz` and path to index file (`meta.json`): `package-name/meta.json`.
Besides, registry also has a similar structure, for example, https://registry.npmjs.org/asdas/-/asdas-1.0.0.tgz

[2021-02-23 00:27] dingdaoyi commented on #169
For historical reasons, packages uploaded by non-npm clients have a version number in their upload path, such as Jfrog ArtiFactory

[2021-02-25 12:40] #184 closed

[2021-02-25 13:13] 0crat commented on #184
Job `gh:artipie/npm-adapter#184` is not assigned, can't get performer

[2021-03-01 14:58] 0crat commented on #185
Job [#185](https://github.com/artipie/npm-adapter/issues/185) is not in the agenda of @baudoliver7[/z](https://www.0crat.com/u/baudoliver7), can't set title

[2021-03-12 13:30] #190 closed

[2021-03-12 13:30] 0pdd commented on #190
The puzzle `168-faf64628` has disappeared from the source code, that's why I closed this issue.

[2021-03-12 13:30] 0pdd commented on #164
@olenagerasimova all 2 puzzles are solved here: [#168](https://github.com/artipie/npm-adapter/issues/168), [#190](https://github.com/artipie/npm-adapter/issues/190).

[2021-03-12 13:30] 0pdd commented on #168
@0pdd the only puzzle [#190](https://github.com/artipie/npm-adapter/issues/190) is solved here.

[2021-03-12 14:14] 0crat commented on #190
Job [#190](https://github.com/artipie/npm-adapter/issues/190) is not in the agenda of @andreoss[/z](https://www.0crat.com/u/andreoss), can't set title

[2021-03-15 06:27] g4s8 commented on #184
@rultor release, tag=`0.8.3`

[2021-03-15 06:28] rultor commented on #184
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24281-799150295)

[2021-03-15 06:36] rultor commented on #184
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24281-799150295) (took me 8min)

[2021-03-18 11:58] #169 closed

[2021-03-18 12:32] 0crat commented on #169
Job `gh:artipie/npm-adapter#169` is not assigned, can't get performer

[2021-03-23 08:29] g4s8 commented on #169
@rultor release, tag=`0.9`

[2021-03-23 08:30] rultor commented on #169
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24305-804716258)

[2021-03-23 08:34] g4s8 commented on #169
@genryxy it should be released soon `0.9`

[2021-03-23 08:40] rultor commented on #169
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24305-804716258) (took me 9min)

[2021-03-25 09:44] #188 closed

[2021-03-25 10:17] 0crat commented on #188
Job [#188](https://github.com/artipie/npm-adapter/issues/188) is closed, can't start order

[2021-03-25 10:31] 0crat commented on #188
Job `gh:artipie/npm-adapter#188` is not assigned, can't get performer

[2021-04-12 01:37] fengqijun-npm opened #198 "The first upload does not contain the latest tag"
first upload:npm publish --tag next--verbose
Metadata："dist-tags": { "next": "1.0.0"} , no latest tag

[2021-04-26 06:38] g4s8 commented on #198
@genryxy could you please check this?

[2021-04-26 08:54] #198 closed

[2021-05-19 07:08] brastak opened #207 "Add verbose logging for every significant processing step"

[2021-05-19 07:08] brastak opened #209 "Optimizing metadata ttl handling"
In the current implementation, when metadata TTL is expired, the call to remote repository is executed and metadata is refreshed. It can be optimized. Proposed algorithm changes:
- send HEAD request to remote repo. If it returns with HTTP 200, than examine Last-Modified tag. In the case when it is the same as local-stored, do nothing.
- if request returns with error HTTP code (405, for example), t

[2021-05-19 07:09] brastak opened #210 "Binary data TTL"
There are cases when it is useful to consider binary data as modifiable. Currently, if we already have binary asset, we never will try to download it one more time from remote repo.
We need optional setting to support TTL for this kind of data

[2021-05-19 07:09] brastak opened #211 "Implement caching of not-found items"
Npm proxy adapter caches successful responses, but if package was not found in the remote repo, the next request will call it one more time.
We need separate cache for not found items and don't try to call remote repo until ttl for this item expired

[2021-05-19 08:22] g4s8 commented on #211
@olenagerasimova maybe it's global caching feature, not only npm-adapter

[2021-05-19 08:22] g4s8 commented on #210
@olenagerasimova maybe it's global caching feature, not only npm-adapter

[2021-06-07 13:46] g4s8 opened #225 "Update asto to 1.2.+ version"
Automated update failed, let's update asto manually: https://github.com/artipie/npm-adapter/pull/224

[2021-07-02 05:44] #225 closed

[2021-08-10 07:33] olenagerasimova opened #233 "Get rid of vertx instance in `NpmProxy`"
`Vertx` instance in `NpmProxy` is used to create and delete temp files, there are other ways to do it, without using such heavy object and dependency. Let's get rid of `Vertx` in main code.

[2021-08-10 07:39] #233 closed

[2021-08-19 08:34] genryxy opened #239 "Fix dependencies"
Now, Npm has the next tree of dependencies
[code]
Problems:
- **high-risk vulnerabilities**
  - `log4j/log4j/1.2.17` --- ()
  - `net.minidev/json-smart/2.3` --- ()
  - `com.fasterxml.jackson.core/jackson-databind/2.10.2` --- ()
  - `org.apache.commons/commons-compress/1.20` --- ()
  - `io.vertx/vertx-core/3.9.2` --- ()
- **high-risk license**
  - `org.glassfish.jaxb/jaxb-runtime/2.2.11` --- ()
  -

[2021-10-19 09:27] #168 closed

[2021-10-19 09:27] #185 closed

[2021-11-23 08:52] genryxy opened #282 "Fix problem with `Header` and `Headers.From`"
There is some problem with classes `Header` and `Headers.From`. When they are used in [this ](https://github.com/artipie/npm-adapter/pull/281) PR, the build failed. When this piece of code is specified in `com.artipie.npm.proxy.http.DownloadPackageSlice` it works and all tests are passed
[code]
Whereas when this piece of code is used in the same place, it fails with NPE
[code]

[2021-11-30 06:33] #282 closed

[2022-01-24 08:54] genryxy commented on #174
Here was an attempt to add IT case for reproducing this problem. Some changes were introduced to the source code to eliminate this problem. After that added IT case worked in a proper way (e.g. shew warning message during installation).
Although, after local check the message was not shown. Probably there was a mistake during local check or something else.

[2022-02-07 08:29] g4s8 opened #296 "Investigate a problem with reactive publisher processing"
Remote NPM repository has a workaround which manually handle publisher's state instead of allowing to manage it by subscriber. Let's investigate what is the problem and fix it.

_Originally posted by @olenagerasimova in https://github.com/artipie/npm-adapter/pull/295#discussion_r799368541_

[2022-02-11 09:52] olenagerasimova opened #299 "Proxy: pass relative path to origin slice"
In artipie http-client `UriClientSlice` and  `PathPrefixSlice` slices take care of adding origin host, port and path prefix while preforming requests. Thus, in `NpmProxy` it's not necessary to know and take care of origin URI, we can simply pass relative path to origin http-client slice.

[2022-02-11 12:19] #299 closed

[2022-02-14 06:51] olenagerasimova commented on #148
done in #299

[2022-02-14 06:51] #148 closed

[2022-02-14 06:55] olenagerasimova opened #301 "Not require ContentType header in proxy response"
Now `HttpNpmRemote` requires `ContentType` header in response from proxy, but there is no actual need to require this header: in proxy mode we simply save and pass whatever came from remote, it's client responsibility to deal and validate the data. Also, artipie download slice does not add `ContentType` while returning content from storage, it only adds `Content-Disposition`.

So, let's do not req

[2022-02-16 07:38] #301 closed

[2022-04-13 01:43] tangjun-npm opened #308 "npm upload scope with "." of , the generated metadata download path is abnormal"
It can be tested with these steps:
npm upload @probe.gl/stats@3.5.0
1. Run npm publish stats-3.5.0.tgz
2. Run npm install @probe.gl/stats

Expected: npm shows an error about install
Error is :
npm ERR! 404 Not Found - GET http://some.host/artifactory/api/npm/npm-tmptest/stats/-/stats-3.5.0.tgz
npm ERR! 404
npm ERR! 404  '@probe.gl/stats@3.5.0' is not in the npm registry.

Actual: installed success

[2022-04-13 02:06] tangjun-npm opened #309 "npm client upload, metadata file does not contain custom fields in package.json"
Upload using the npm client,the metadata file does not contain custom fields in package.json.

for exaple:
# Run ```npm publish debug-4.1.5.tgz ```
 the metadata is
[code]
No custom fields included ("modules")

# Use PUT to request upload  the metadata is
[code]
custom fields included ("modules")

[2022-04-13 10:17] #308 closed

[2022-04-18 09:51] olenagerasimova opened #314 "Urls with empty parts"
Urls with empty parts without scope
'http://10.40.149.70:8080/artifactory/echo-test-npmrepo-Oze0nuvAiD/ssh2//-/ssh2-0.8.9.tgz

are expected to be recognized by the adapter

[2022-04-19 07:07] #314 closed

[2022-04-19 07:46] olenagerasimova commented on #309
"modules" field name is some how reserved by npm client and is not added from packages.json into json body on npm upload command.
Custom fields with any other names are added into json body on npm upload and therefor are added into meta.json metadata.

[2022-04-19 07:47] olenagerasimova commented on #309
will not be fixed

[2022-04-19 07:47] #309 closed

[2022-06-08 09:27] 0pdd opened #326 "DownloadPackageSliceTest.java:36-39: Fix download meta..."
The puzzle `239-1cddf630` from #239 has to be resolved:

https://github.com/artipie/npm-adapter/blob/035d37c0e93ddf06cbaf4b28fef751053aa70110/src/test/java/com/artipie/npm/proxy/http/DownloadPackageSliceTest.java#L36-L39

The puzzle was created by Aleksei Borodin on 08-Jun-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The tas

[2022-06-08 09:27] 0pdd commented on #239
@genryxy the puzzle [#326](https://github.com/artipie/npm-adapter/issues/326) is still not solved.

[2022-09-13 07:32] ChGen opened #339 "NPM version compa"

[2022-09-13 07:44] ChGen opened #340 "NPM adapter configuration"
When trying to run simple command on `npm-adapter` with recent versions of npm (below), it requires authentication support right away (on `npm` client side).
So authentication support is required in `npm-adapter`, as well as setup example/instructions.
Also, this is related to issues: #74, #208, #339

[code]

[2022-09-16 09:34] 0pdd opened #343 "NpmSlice.java:34-39: Implement `/npm` endpoint properly:..."
The puzzle `340-99949b75` from #340 has to be resolved:

https://github.com/artipie/npm-adapter/blob/c1eec7836fd663416b23c81b8724a3db386470d0/src/main/java/com/artipie/npm/http/NpmSlice.java#L34-L39

The puzzle was created by @olenagerasimova on 16-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-09-16 09:34] 0pdd opened #344 "Npm8IT.java:42-47: Implement token auth for npm client...."
The puzzle `339-ed8772b7` from #339 has to be resolved:

https://github.com/artipie/npm-adapter/blob/c1eec7836fd663416b23c81b8724a3db386470d0/src/test/java/com/artipie/npm/Npm8IT.java#L42-L47

The puzzle was created by @olenagerasimova on 16-Sep-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-09-16 09:34] 0pdd commented on #340
@ChGen the puzzle [#343](https://github.com/artipie/npm-adapter/issues/343) is still not solved.

[2022-09-16 09:34] 0pdd commented on #339
@ChGen the puzzle [#344](https://github.com/artipie/npm-adapter/issues/344) is still not solved.

[2022-09-16 09:35] ChGen commented on #339
OK

[2022-09-21 08:54] olenagerasimova opened #346 "Different storages in npm ITs"
Do not use the same storage for client-side files (like package to publish) and for npm-adapter registry itself. If file-system is used, it should be not related directories. But it would be better to use separate storage for registry data.

[2022-09-21 11:48] #346 closed